@import "./variables/breakpoints";
@import "./variables/colors";
@import "./variables/durations";
@import "./variables/layers";
@import "./variables/shadows";
@import "./variables/sizes";
@import "./variables/spacing";
@import "./variables/typography";

$body-font-family: "PT Sans";
$heading-font-family: "PT Sans Narrow";
$button-font-size: 1rem;

// v-btn
$btn-text-transform: none;
$btn-font-weight: 700;
.v-btn {
	font-family: $heading-font-family;
	&.v-size--small,
	&.v-size--default,
	&.v-size--large,
	&.v-size--x-large {
		font-size: $button-font-size;
	}
}
