// extends the default theme
@import "@styles-default/variables.scss";

:root {
	/* main colors */
	--color-primary: #449494;
	--color-secondary: #e4032e;
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary-light: color-mod(var(--color-secondary) tint(#{$brighten}));
	--color-secondary-dark: color-mod(var(--color-secondary) shade(#{$darken}));
}
