#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: ConfigMap
metadata:
  name: nuxtclient-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: nuxtclient
data:
  TZ: "Europe/Berlin"
  SC_THEME: "{{ SC_THEME }}"
  NO_COLOR: "true"
  PUBLIC_BACKEND_URL: "https://{{ DOMAIN }}/api"
  LEGACY_CLIENT_URL: "http://client-svc:3100"
  H5P_FRAME_SRC_URLS: "{{ H5P_FRAME_SRC_URLS }}"
  H5P_IMG_SRC_URLS: "{{ H5P_PROXY_PREFIX }}{{ DOMAIN }}"
  H5P_SCRIPT_SRC_URLS: "https://{{ DOMAIN }}/api/v3/h5p-editor/h5pstatics/editor/scripts/"
  LICENSE_SUMMARY_URL_FOR_CSP: "{{ LICENSE_SUMMARY_BASE_URL }}"
  COLLABORA_OFFICE_URL: "{{ COLLABORA_OFFICE_URL }}"
  GHOST_BASE_URL: "{{ GHOST_BASE_URL }}"
