apiVersion: v1
kind: ConfigMap
metadata:
  name: nuxtclient-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: nuxtclient
data:
  # general
  NODE_ENV: "production"
  TZ: "Europe/Berlin"
  SC_THEME: "{{ SC_THEME }}"
  LOG_LEVEL: "error"
{% for name, data in configuration_all.items() %}
{% if data.nuxtcleint is defined and data.nuxtcleint == true %}
{% if data.config_name is defined and data.config_name in hostvars[inventory_hostname] %}
{% if data.var_name is defined %}
  {{ data.var_name }}: "{{ hostvars[inventory_hostname][data.config_name] }}"
{% else %}
  {{ name }}: "{{ hostvars[inventory_hostname][data.config_name] }}"
{% endif %}
{% elif name in hostvars[inventory_hostname] %}
{% if data.var_name is defined %}
  {{ data.var_name }}: "{{ hostvars[inventory_hostname][name] }}"
{% else %}
  {{ name }}: "{{ hostvars[inventory_hostname][name] }}"
{% endif %}
{% elif data.value is defined %}
{% if data.var_name is defined %}
  {{ data.var_name }}: "{{ data.value }}"
{% else %}
  {{ name }}: "{{ data.value }}"
{% endif %}
{% endif %}
{% endif %}
{% endfor %}

