apiVersion: v1
kind: ConfigMap
metadata:
  name: nuxtclient-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: nuxtclient
data:
  # general
  NODE_ENV: "production"
  TZ: "Europe/Berlin"
  LEGACY_CLIENT_URL: "http://client-svc:3100"
  API_URL: "https://{{ DOMAIN }}/api"
{% if SENTRY_DSN_NUXTCLIENT is defined %}
  SENTRY_DSN: "{{ SENTRY_DSN_NUXTCLIENT }}"
  SENTRY_SAMPLE_RATE: "{{ SENTRY_SAMPLE_RATE }}"
{% endif %}
  SC_THEME: "{{ SC_THEME }}"
  CORS_ENABLED: "{{ CORS|default("false",true) }}"
  SECURITY_HEADERS_ENABLED: "{{ SECURITY_HEADERS|default("false",true) }}"
  FEATURE_EXTENSIONS_ENABLED: "{{ FEATURE_EXTENSIONS_ENABLED|default("false", true) }}"
  FEATURE_TEAMS_ENABLED: "{{ FEATURE_TEAMS_ENABLED }}"
  FEATURE_MORGAN_LOG_ENABLED: "false"
  ALERT_STATUS_URL: "{{ ALERT_STATUS_URL|default("https://status.dbildungscloud.de", true) }}"
  LOG_LEVEL: "error"
  # Lernstore
  FEATURE_LERNSTORE_ENABLED: "{{ FEATURE_LERNSTORE_ENABLED|default("false", true) }}"
{% if FEATURE_ES_COLLECTIONS_ENABLED is defined %}
  FEATURE_ES_COLLECTIONS_ENABLED: "{{ FEATURE_ES_COLLECTIONS_ENABLED }}"
{% endif %}
{% if FEATURE_MATRIX_MESSENGER_ENABLED is defined and FEATURE_MATRIX_MESSENGER_ENABLED == "true" %}
  FEATURE_MATRIX_MESSENGER_ENABLED: "true"
{% if MATRIX_MESSENGER_CONFIG_2 is defined and MATRIX_MESSENGER_CONFIG_2 == "true" %}
  MATRIX_MESSENGER__EMBED_URI: "{{ MATRIX_MESSENGER__EMBED_URI }}"
  MATRIX_MESSENGER__URI: "{{ MATRIX_MESSENGER__URI }}"
  MATRIX_MESSENGER__DISCOVER_URI: "{{ MATRIX_MESSENGER__DISCOVER_URI }}"
  MATRIX_MESSENGER__SCHOOL_SETTINGS_VISIBLE: "{{ MATRIX_MESSENGER__SCHOOL_SETTINGS_VISIBLE|default("false", true) }}"
  MATRIX_MESSENGER__SCHOOL_ROOM_ENABLED: "{{ MATRIX_MESSENGER__SCHOOL_ROOM_ENABLED|default("false", true) }}"
  MATRIX_MESSENGER__STUDENT_ROOM_CREATION: "{{ MATRIX_MESSENGER__STUDENT_ROOM_CREATION|default("false", true) }}"
{% endif %}
{% else %}
  FEATURE_MATRIX_MESSENGER_ENABLED: "false"
{% endif %}
{% if ADMIN_TABLES_DISPLAY_CONSENT_COLUMN is defined %}
# admin tables
  ADMIN_TABLES_DISPLAY_CONSENT_COLUMN: "{{ ADMIN_TABLES_DISPLAY_CONSENT_COLUMN|default("false", true)  }}"
{% endif %}
