apiVersion: apps/v1
kind: Deployment
metadata:
  name: nuxtclient-deployment
  namespace: {{ NAMESPACE }}
{% if ANNOTATIONS is defined and ANNOTATIONS|bool %}
  annotations:
{% if RELOADER is defined and RELOADER|bool %}
    reloader.stakater.com/auto: "true"
{% endif %}
{% endif %}
  labels:
    app: nuxtclient
    app.kubernetes.io/part-of: schulcloud-verbund
    app.kubernetes.io/version: {{ NUXT_CLIENT_IMAGE_TAG }}
    app.kubernetes.io/name: nuxtclient
    app.kubernetes.io/component: client
    app.kubernetes.io/managed-by: ansible
    git.branch: {{ NUXT_CLIENT_BRANCH_NAME }}
    git.repo: {{ NUXT_CLIENT_REPO_NAME }}
spec:
  replicas: {{ NUXTCLIENT_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: nuxtclient
  template:
    metadata:
      labels:
        app: nuxtclient
        app.kubernetes.io/part-of: schulcloud-verbund
        app.kubernetes.io/version: {{ NUXT_CLIENT_IMAGE_TAG }}
        app.kubernetes.io/name: nuxtclient
        app.kubernetes.io/component: client
        app.kubernetes.io/managed-by: ansible
        git.branch: {{ NUXT_CLIENT_BRANCH_NAME }}
        git.repo: {{ NUXT_CLIENT_REPO_NAME }}
      annotations:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: nuxtclient
        image: {{ NUXT_CLIENT_IMAGE }}-{{ SC_THEME }}:{{ NUXT_CLIENT_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        ports:
        - name: nuxtclient
          containerPort: 4000
          protocol: TCP
        envFrom:
        - configMapRef:
            name: nuxtclient-configmap
        volumeMounts:
        - mountPath: /var/run
          name: pid-dir
        - mountPath: /var/cache/nginx
          name: cache-dir
        - mountPath: /etc/nginx/conf.d
          name: conf-dir
        readinessProbe:
          httpGet:
            path: /nuxtversion
            port: 4000
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /nuxtversion
            port: 4000
          timeoutSeconds: 4
          failureThreshold: 3
          periodSeconds: 15
        startupProbe:
          httpGet:
            path: /nuxtversion
            port: 4000
          timeoutSeconds: 4
          failureThreshold: 5
          periodSeconds: 5
        resources:
          limits:
            cpu: {{ NUXTCLIENT_CPU_LIMITS|default("2000m", true) }}
            memory: {{ NUXTCLIENT_MEMORY_LIMITS|default("256Mi", true) }}
          requests:
            cpu: {{ NUXTCLIENT_CPU_REQUESTS|default("100m", true) }}
            memory: {{ NUXTCLIENT_MEMORY_REQUESTS|default("32Mi", true) }}
{% if AFFINITY_ENABLE is defined and AFFINITY_ENABLE|bool %}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 9
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/part-of
                  operator: In
                  values:
                  - schulcloud-verbund
              topologyKey: "kubernetes.io/hostname"
              namespaceSelector: {}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
{% if ANIT_AFFINITY_NODEPOOL_ENABLE is defined and ANIT_AFFINITY_NODEPOOL_ENABLE|bool %}
          - weight: 10
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - nuxtclient
              topologyKey: {{ ANIT_AFFINITY_NODEPOOL_TOPOLOGY_KEY }}
{% endif %}
          - weight: 20
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/name
                  operator: In
                  values:
                  - nuxtclient
              topologyKey: "topology.kubernetes.io/zone"
{% endif %}
      volumes:
      - name: pid-dir
        emptyDir: {}
      - name: cache-dir
        emptyDir: {}
      - name: conf-dir
        emptyDir: {}
