apiVersion: v1
kind: Service
metadata:
  name: svc-tldraw-client
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-client
spec:
  type: ClusterIP
  ports:
    - port: {{ PORT_TLDRAW_CLIENT }}
      targetPort: 3046
      protocol: TCP
      name: tldraw-client
  selector:
    app: tldraw-client
