apiVersion: v1
kind: Service
metadata:
  name: tldraw-client-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: tldraw-client
spec:
  type: ClusterIP
  ports:
    - port: {{ TLDRAW_CLIENT_PORT }}
      targetPort: 3046
      protocol: TCP
      name: tldraw-client
  selector:
    app: tldraw-client
