/* margins */

$space-sizes: 0, auto;
$space-size-vars: xs-4, xs-3, xs-2, xs, sm, md, lg, xl, xl-2, xl-3, xl-4, xl-5;

@each $size in $space-sizes {
	.mt--#{$size} {
		margin-top: $size;
	}
	.mb--#{$size} {
		margin-bottom: $size;
	}
	.ml--#{$size} {
		margin-left: $size;
	}
	.mr--#{$size} {
		margin-right: $size;
	}
	.mx--#{$size} {
		margin-right: $size;
		margin-left: $size;
	}
	.my--#{$size} {
		margin-top: $size;
		margin-bottom: $size;
	}
}

@each $size in $space-size-vars {
	.mt--#{$size} {
		margin-top: var(--space-#{$size});
	}
	.mb--#{$size} {
		margin-bottom: var(--space-#{$size});
	}
	.ml--#{$size} {
		margin-left: var(--space-#{$size});
	}
	.mr--#{$size} {
		margin-right: var(--space-#{$size});
	}
	.mx--#{$size} {
		margin-right: var(--space-#{$size});
		margin-left: var(--space-#{$size});
	}
	.my--#{$size} {
		margin-top: var(--space-#{$size});
		margin-bottom: var(--space-#{$size});
	}
}
