# Editor Configs

# Local Developer Configs

# Dependency
## yarn lockfile because we are using npm
yarn.lock
node_modules/

# Secrets
deploy/travis_rsa

# Log Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Files
dist
version

# Runtime data
.nuxt
.env
jsconfig.json
**/.DS_Store
**/.tmp*

docker-compose.yml
tests/screenshot/__image_snapshots__/__diff_output__/**/*
