# Editor Configs

# Local Developer Configs

# Dependency
## yarn lockfile because we are using npm
yarn.lock
node_modules/

# Log Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Files
dist

# Runtime data
.nuxt
.env
jsconfig.json
**/.DS_Store
sw.*

docker-compose.yml
