language: node_js
node_js:
  - lts/*
sudo: required
dist: xenial
services:
  - docker
env:
  global:
    - GIT_SHA=$( git rev-parse HEAD )
    - DOCKERTAG=$( echo $TRAVIS_BRANCH | tr -s "[:punct:]" "-" )
    - SC_THEME=default
before_install:
  - openssl aes-256-cbc -K $encrypted_b7461320c5f4_key -iv $encrypted_b7461320c5f4_iv -in deploy/travis_rsa.enc -out deploy/travis_rsa -d
install:
  - yarn global add codecov
  - yarn install --production=false
script:
  #  - yarn test:ci
  #  - yarn lint:ci
  #  - yarn build
  - yarn build:docs
  - codecov
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
notifications:
  email: false
cache:
  directories:
    - node_modules

deploy:
  skip_cleanup: true
  provider: script
  script: bash ./deploy/deploy.sh
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^master$
