branches:
  only:
    - stable
    - master
language: node_js
node_js:
  - lts/*
sudo: required
dist: xenial
services:
  - docker
env:
  global:
    - GIT_SHA=$( git rev-parse HEAD )
    - DOCKERTAG=$( echo $TRAVIS_BRANCH | tr -s "[:punct:]" "-" )
    - SC_THEME=default
install:
  - yarn global add codecov surge
  - yarn install --production=false
script:
  - yarn lint:ci
  - yarn test:ci
  - yarn build
  - codecov
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
notifications:
  email: false
cache:
  directories:
    - node_modules
# deploy docs & storybook for all pull requests
after_success:
  - bash ./deploy/pull-deploy.sh
# deploy master to staging system
deploy:
  skip_cleanup: true
  provider: script
  script: bash ./deploy/deploy.sh
  on:
    branch: master
