branches:
  only:
    - develop
    - master
    # OPS-1664 naming convention <branch>/<JIRA-Ticket ID>-<Jira_Summary>
    - /^(hotfix|feature|release)\/.*$/
language: node_js
node_js:
  - lts/*
dist: xenial
git:
  submodules: false
env:
  global:
    - TZ=Europe/Berlin
    - GIT_SHA=$( git rev-parse HEAD )
    - DOCKERTAG="$( echo $TRAVIS_BRANCH | tr -s '[:punct:]' '-' | tr -s '[:upper:]' '[:lower:]' )_v$( jq -r '.version' package.json )_$TRAVIS_COMMIT"

# do not run on develop if it is just a dependency update from dependabot to preserve resources
# "not type = pull_request" is required to keep it running on PRs
if: not (branch = develop and commit_message ~= /^Bump.*from.*to.*$/ and not type = pull_request)

# TODO: The stages and build files must completly new sorted, at the moment it do not solve what we need.
stages:
  - build_and_push # TODO: build should normally execute if it is needed but then we do not need test_themes
  - deploy_documentation
  - name: deploy
    if: type = push && (branch = master || branch = develop || branch ~= /^(release|hotfix).*$/)

jobs:
  include:
    # Build
    - stage: deploy_documentation
    - script: npm run build:storybook
      name: "build:storybook"
      after_success:
        - npm i -g surge
        - bash ./deploy/pull-deploy.sh -p storybook
    - script: npm run build:docs
      name: "build:docs"
      after_success:
        - npm i -g surge
        - bash ./deploy/pull-deploy.sh -p vuepress

    # Build Docker Images
    - stage: build_and_push
      name: build:nuxt
      language: generic
      script: bash ./deploy/build.sh -p client
    - script: bash ./deploy/build.sh -p storybook
      name: build:storybook
      language: generic
    - script: bash ./deploy/build.sh -p vuepress
      name: build:docs
      language: generic

    # Deploy
    - stage: deploy
      name: deploy:nuxt
      language: generic
      script: bash ./deploy/deploy.sh -p client
    - script: skip
      name: deploy:storybook
      language: generic
      script: bash ./deploy/deploy.sh -p storybook
    - script: skip
      name: deploy:docs
      language: generic
      script: bash ./deploy/deploy.sh -p vuepress

cache: npm
before_cache:
  # delete all .cache folders before actually storing the cache.
  # nuxt, storybook and vuepress stores some build artefacts here which invalidates the cache.
  - cd node_modules && find . -name .cache -type d -exec rm -rf {} + && cd ..
  - cd node_modules && find . -name .temp -type d -exec rm -rf {} + && cd ..
