:root {
	/* main colors */
	--color-primary: #b1063a;
	--color-primary-light: color-mod(var(--color-primary) tint(15%));
	--color-primary-dark: color-mod(var(--color-primary) shade(20%));
	--color-accent: #e98404;
	--color-accent-light: color-mod(var(--color-accent) tint(15%));
	--color-accent-dark: color-mod(var(--color-accent) shade(20%));

	// shades
	--color-black: #1d1d21;
	--color-gray-light: #ddd;
	--color-gray: #aaa;
	--color-gray-dark: #444;
	--color-white: #fff;
	--color-overlay: rgba(0, 0, 0, 0.5);

	/* feedback */
	--color-info: #17a2b8;
	--color-success: #13ba98;
	--color-warning: #ffd137;
	--color-danger: #ff114f;
}
