$color-primary: #b10438;
$color-secondary: #f8a41b;

// Layout
$color-border: #999;

// CONTENT
$color-body-bg: #eee;
$color-heading-text: #4a4a4a;
$color-text: #444;
$color-text-bg: #fff;
$color-link: $color-primary;
$color-link-active: darken($color-primary, 50%);

$color-text-on-primary: #fff;
$color-link-on-primary: #fff;
$color-link-active-on-primary: #fff;
