$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-primary: #e98404;
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary: #b1063a;
	--color-secondary-light: color-mod(var(--color-secondary) tint(#{$brighten}));
	--color-secondary-dark: color-mod(var(--color-secondary) shade(#{$darken}));
	--color-tertiary: #455b6a;
	--color-tertiary-light: #617480;
	--color-tertiary-dark: #344450;

	// shades
	--color-black: #000;
	--color-gray-light: #eee;
	--color-gray: #aaa;
	--color-gray-dark: #444;
	--color-white: #fff;
	--color-overlay: rgba(0, 0, 0, 0.5);

	/* feedback */
	--color-info: #36bdfb;
	--color-info-light: color-mod(var(--color-info) tint(#{$brighten}));
	--color-info--dark: color-mod(var(--color-info) shade(#{$darken}));
	--color-success: #13ba98;
	--color-success-light: color-mod(var(--color-success) tint(#{$brighten}));
	--color-success--dark: color-mod(var(--color-success) shade(#{$darken}));
	--color-warning: #ffd611;
	--color-warning-light: color-mod(var(--color-warning) tint(#{$brighten}));
	--color-warning--dark: color-mod(var(--color-warning) shade(#{$darken}));
	--color-danger: #ff1134;
	--color-danger-light: color-mod(var(--color-danger) tint(#{$brighten}));
	--color-danger--dark: color-mod(var(--color-danger) shade(#{$darken}));
	--color-disabled: #d9d9d9;
	--color-disabled-dark: #9e9e9e;

	/* text colors */
	--on-primary: #fff;
	--on-primary-light: #fff;
	--on-primary-dark: #fff;
	--on-secondary: #fff;
	--on-secondary-light: #fff;
	--on-secondary-dark: #fff;
	--on-accent: #fff;
	--on-accent-light: #fff;
	--on-tertiary: #fff;
	--on-tertiary-light: #fff;
	--on-tertiary-dark: #fff;
	--on-black: #fff;
	--on-gray-light: #fff;
	--on-gray: #fff;
	--on-gray-dark: #fff;
	--on-white: #fff;
	--on-overlay: #fff;
	--on-info: #fff;
	--on-info-light: #fff;
	--on-info--dark: #fff;
	--on-success: #fff;
	--on-success-light: #fff;
	--on-success--dark: #fff;
	--on-warning: #fff;
	--on-warning-light: #fff;
	--on-warning--dark: #fff;
	--on-danger: #fff;
	--on-danger-light: #fff;
	--on-danger--dark: #fff;
	--on-disabled: #fff;
	--on-disabled-dark: #fff;
	--on-info-light: #fff;
	--on-info--dark: #fff;
}
