$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-primary: #e98404;
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary: #b1063a;
	--color-secondary-light: color-mod(var(--color-secondary) tint(#{$brighten}));
	--color-secondary-dark: color-mod(var(--color-secondary) shade(#{$darken}));
	--color-tertiary: #455b6a;
	--color-tertiary-light: #617480;
	--color-tertiary-dark: #344450;

	// shades
	--color-black: #000;
	--color-gray-light: #eee;
	--color-gray: #aaa;
	--color-gray-dark: #444;
	--color-white: #fff;
	--color-white-transparent: rgba(255, 255, 255, 0.85);
	--color-overlay: rgba(0, 0, 0, 0.5);

	/* feedback */
	--color-info: #36bdfb;
	--color-info-light: color-mod(var(--color-info) tint(#{$brighten}));
	--color-info--dark: color-mod(var(--color-info) shade(#{$darken}));
	--color-success: #13ba98;
	--color-success-light: color-mod(var(--color-success) tint(#{$brighten}));
	--color-success--dark: color-mod(var(--color-success) shade(#{$darken}));
	--color-warning: #ffd611;
	--color-warning-light: color-mod(var(--color-warning) tint(#{$brighten}));
	--color-warning--dark: color-mod(var(--color-warning) shade(#{$darken}));
	--color-danger: #ff1134;
	--color-danger-light: color-mod(var(--color-danger) tint(#{$brighten}));
	--color-danger--dark: color-mod(var(--color-danger) shade(#{$darken}));
	--color-disabled: #d9d9d9;
	--color-disabled-dark: #9e9e9e;

	/* text colors */
	--color-on-primary: var(--color-white);
	--color-on-primary-light: var(--color-white);
	--color-on-primary-dark: var(--color-white);
	--color-on-secondary: var(--color-white);
	--color-on-secondary-light: var(--color-white);
	--color-on-secondary-dark: var(--color-white);
	--color-on-accent: var(--color-white);
	--color-on-accent-light: var(--color-white);
	--color-on-tertiary: var(--color-white);
	--color-on-tertiary-light: var(--color-white);
	--color-on-tertiary-dark: var(--color-white);
	--color-on-gray-light: var(--color-white);
	--color-on-gray: var(--color-white);
	--color-on-gray-dark: var(--color-white);
	--color-on-white: var(--color-white);
	--color-on-black: var(--color-white);
	--color-on-overlay: var(--color-white);
	--color-on-info: var(--color-white);
	--color-on-info-light: var(--color-white);
	--color-on-info--dark: var(--color-white);
	--color-on-success: var(--color-white);
	--color-on-success-light: var(--color-white);
	--color-on-success--dark: var(--color-white);
	--color-on-warning: var(--color-white);
	--color-on-warning-light: var(--color-white);
	--color-on-warning--dark: var(--color-white);
	--color-on-danger: var(--color-white);
	--color-on-danger-light: var(--color-white);
	--color-on-danger--dark: var(--color-white);
	--color-on-disabled: var(--color-white);
	--color-on-disabled-dark: var(--color-white);
	--color-on-info-light: var(--color-white);
	--color-on-info--dark: var(--color-white);
}
