/* --------------------------------

Durations

-------------------------------- */

:root {
	--duration-transition-base: 0.3s;
	--duration-transition-slow: calc(var(--duration-transition-base) * 3);
	--duration-transition-medium: var(--duration-transition-base);
	--duration-transition-fast: calc(var(--duration-transition-base) * 0.5);
}

@media (prefers-reduced-motion: reduce) {
	:root {
		// 0 would break js transition events
		--duration-transition-base: 0.0001s;
	}
}
