// GRID
$size-grid-padding: 1.3rem;

// LAYOUT
$size-content-width-max: 60rem;
$size-content-width-min: 25rem;

// SPACING
$size-padding-x: 1em;
$size-padding-y: 0.75em;
$size-padding: $size-padding-y $size-padding-x;

$size-margin: 1em;

$size-border-width: 1px;
$size-border-radius: 0.5rem;
$size-border-radius-round: 100vmax;

$size-text: (21px, 14px);
$size-heading: (4.57rem, 2.85rem, 2.28rem, 1.52rem, 1.14rem, 0.95rem);
