:root {
	--radius-round: 100vmax;
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;
	--border-width: 1px;
	--sidebar-width: 240px;
	--sidebar-width-tablet: 60px;
	--sidebar-item-height: 60px;
	--topbar-height: 50px;
}
