@import "./breakpoints";

:root {
	--font-primary: "PT Sans", sans-serif;
	--font-accent: "PT Sans Narrow", sans-serif;

	/* set base values */
	--text-base-size: 1rem;
	--text-scale-ratio: 1.2;

	/* type scale */
	--text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1rem / var(--text-scale-ratio));
	--text-md: calc(1rem);
	--text-lg: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
	// prettier-ignore
	--text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	// prettier-ignore
	--text-xxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	// prettier-ignore
	--text-xxxl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

	/* line-height */
	--heading-line-height: 1.2;
	--body-line-height: 1.4;
	--button-line-height: 1.25;

	/* font-weight */
	--button-font-weight: 700;
}

@include breakpoint(md) {
	:root {
		--text-base-size: 1.125rem;
	}
}
