@import "./breakpoints";

:root {
	--font-primary: "PT Sans", sans-serif;
	--font-accent: "PT Sans Narrow", sans-serif;

	/* set base values */
	--text-base-size: 1rem;
	--text-scale-ratio: 1.2;
	--text-device-scale-ratio: 1.125;

	/* heading sizes */
	--heading-1: calc(var(--heading-2) * var(--text-scale-ratio));
	--heading-2: calc(var(--heading-3) * var(--text-scale-ratio));
	--heading-3: calc(var(--heading-4) * var(--text-scale-ratio));
	--heading-4: calc(var(--heading-5) * var(--text-scale-ratio));
	--heading-5: calc(var(--heading-6) * var(--text-scale-ratio));
	--heading-6: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* text sizes */
	--text-xs: calc(
		var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio)
	);
	--text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
	--text-md: var(--text-base-size);
	--text-lg: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* line-height */
	--line-height-sm: 1;
	--line-height-md: 1.2;
	--line-height-lg: 1.4;
	--line-height-xl: 2;

	/* font-weight */
	--font-weight-light: 200;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
}

/*

// Disabled for consistency as long as we have the legacy fallback enabled

@include breakpoint(tablet) {
	:root {
		--text-base-size: calc(1rem * var(--text-device-scale-ratio));
	}
}

@include breakpoint(desktop) {
	:root {
		--text-base-size: calc(
			1rem * var(--text-device-scale-ratio) * var(--text-device-scale-ratio)
		);
	}
}

*/
