/* --------------------------------

Typography

-------------------------------- */

@import "./breakpoints";

:root {
	--font-primary: "PT Sans Narrow", sans-serif;
	--font-secondary: "PT Sans", sans-serif;

	/* set base values */
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;

	/* type scale */
	--text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	// prettier-ignore
	--text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
	// prettier-ignore
	--text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));

	/* line-height */
	--heading-line-height: 1.2;
	--body-line-height: 1.4;
}

@include breakpoint(md) {
	:root {
		--text-base-size: 1.25em;
		--text-scale-ratio: 1.25;
	}
}
