$transition-base: 0.3s;

:root {
	--duration-transition-slow: calc(#{$transition-base} * 3);
	--duration-transition-medium: #{$transition-base};
	--duration-transition-fast: calc(#{$transition-base} * 0.5);
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		transition-duration: 0.001s !important;
		animation-duration: 0.001s !important;
	}
}
