:root {
	--layer-behind: -1;
	--layer-page: 1;
	--layer-sticky-header: 1003;
	--layer-dropdown: 30;
	--layer-popover: 40;
	--layer-tooltip: 50;
	--layer-top-menu: 60;
	--layer-fab: 100;
	--layer-modal: 1000;
}
