:root {
	--radius-round: 100vmax;
	--radius-xs: 0.15rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;
	--border-width: 1px;
	--border-width-bold: 2px;
	--sidebar-width: 240px;
	--sidebar-width-tablet: 60px;
	--sidebar-item-height: 60px;
	--sidebar-sub-item-height: 40px;
	--legacy-topbar-height: 50px;
	--content-max-width-vw: 100vw;
	--topbar-height: 64px;
}
