$system-fonts:
	-apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu,
	"Helvetica Neue", arial, sans-serif;

:root {
	--font-primary: "PT Sans", #{$system-fonts};
	--font-accent: "PT Sans Narrow", #{$system-fonts};

	/* heading sizes */
	--heading-1: 33px; // 32px?
	--heading-2: 28px;
	--heading-3: 23px; // 24px?
	--heading-4: 19px; // 20px?
	--heading-5: calc(var(--heading-6) * var(--text-scale-ratio));
	--heading-6: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* set base values */
	--text-base-size: 1rem;
	--text-scale-ratio: 1.2;

	/* text sizes */
	--text-xs: calc(
		var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio)
	);
	--text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
	--text-md: var(--text-base-size);
	--text-lg: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* line-height */
	--line-height-sm: 1.05;
	--line-height-md: 1.2;
	--line-height-lg: 1.4;
}
