$system-fonts:
	-apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu,
	"Helvetica Neue", arial, sans-serif;

:root {
	--font-primary: "PT Sans", #{$system-fonts};
	--font-accent: "PT Sans Narrow", #{$system-fonts};

	/* heading sizes */
	--heading-1: 33px; // 32px?
	--heading-2: 28px;
	--heading-3: 23px; // 24px?
	--heading-4: 19px; // 20px?
	--heading-5: 23px;
	--heading-6: 19px;

	/* text sizes */
	--text-xs: 0.694rem;
	--text-sm: 0.833rem;
	--text-md: 1rem;
	--text-lg: 1.2rem;

	/* line-height */
	--line-height-sm: 1.05;
	--line-height-md: 1.2;
	--line-height-lg: 1.4;
}
