$system-fonts:
	-apple-system, blinkmacsystemfont, "Segoe UI", roboto, ubuntu,
	"Helvetica Neue", arial, sans-serif;

:root {
	--font-primary: "PT Sans", #{$system-fonts};
	--font-accent: "PT Sans Narrow", #{$system-fonts};

	/* set base values */
	--text-base-size: 1rem;
	--text-scale-ratio: 1.2;
	--text-device-scale-ratio: 1.125;

	/* heading sizes */
	--heading-1: calc(var(--heading-2) * var(--text-scale-ratio));
	--heading-2: calc(var(--heading-3) * var(--text-scale-ratio));
	--heading-3: calc(var(--heading-4) * var(--text-scale-ratio));
	--heading-4: calc(var(--heading-5) * var(--text-scale-ratio));
	--heading-5: calc(var(--heading-6) * var(--text-scale-ratio));
	--heading-6: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* text sizes */
	--text-xs: calc(
		var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio)
	);
	--text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
	--text-md: var(--text-base-size);
	--text-lg: calc(var(--text-base-size) * var(--text-scale-ratio));

	/* line-height */
	--line-height-sm: 1.05;
	--line-height-md: 1.2;
	--line-height-lg: 1.4;

	/* font-weight */
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}
