// extends the default theme
:root {
	/* main colors */
	--color-primary: #2876d0;
	--color-secondary: #185888;
	--color-accent-light: #f56b00;
	--color-sidebar-active-bg: rgba(24, 88, 136, 0.15);
	--color-sidebar-menu-item: var(--color-secondary);
	--color-sidebar-menu-item-active: var(--color-primary);
}
