$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-primary: #78aae5;
	--color-secondary: #b10438;
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary-light: color-mod(var(--color-secondary) tint(#{$brighten}));
	--color-secondary-dark: color-mod(var(--color-secondary) shade(#{$darken}));
}
