$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-primary: #2876d0;
	// --color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary: #355478;
	--color-secondary-light: color-mod(var(--color-secondary) tint(#{$brighten}));
	--color-secondary-dark: color-mod(var(--color-secondary) shade(#{$darken}));
	--color-accent: #970000;
	// --color-accent-light: color-mod(var(--color-accent) tint(#{$brighten}));
	// --color-accent-dark: color-mod(var(--color-accent) shade(#{$darken}));
}
