@import "@styles-default/variables/_sizes.scss";

// GRID
$size-grid-padding: 1.3rem;

// LAYOUT
$size-content-width-max: 60rem;
$size-content-width-min: 25rem;

// SPACING
$size-padding-x: 1em;
$size-padding-y: 0.75em;
$size-padding: $size-padding-y $size-padding-x;

$size-margin: 1em;

$size-border-width: 1px;
$size-border-radius: 0.5rem;
$size-border-radius-round: 100vmax;

$size-text: 16px;
$size-heading: (2.5rem, 2rem, 1.8rem, 1.3rem, 1.2rem, 1rem);
