<div v-if="team">
	<section class="section">
		<base-link :to="{ name: 'teams-id', params: { id: team._id } }">
			<h4>{{ team.name }}</h4>
		</base-link>
		<h2>Mitglieder Übersicht</h2>
	</section>
	<section class="section">
		<div class="columns">
			<div class="column">
				<p>Füge Lehrer und Schüler aus deiner Schule zum Team hinzu.</p>
				<base-button
					class="button is-primary"
					@click="addInternalModalActive = true"
					>Interne Teilnehmer hinzufügen</base-button
				>
			</div>
			<!-- TODO -->
			<!-- <div class="column">
                <p>Lade Lehrer anderer Schulen und Experten per E-Mail ein.</p>
                <base-button
                    class="button is-primary"
                    @click="addInternalModalActive = true"
                    >Externe Teilnehmer hinzufügen</base-button
                >
            </div> -->
		</div>
	</section>

	<section>
		<h3>Mitglieder</h3>
		<base-table
			v-slot:default="slotProps"
			:data="team.userIds"
			:columns="columns"
		>
			<base-icon
				icon="delete"
				class="cursor-pointer"
				@click.native="removeMember(slotProps.row.userId)"
			/>
			<base-icon
				icon="edit"
				class="cursor-pointer"
				@click.native="editMember(slotProps.row)"
			/>
		</base-table>
	</section>

	<section>
		<h3>Klassen</h3>
		<base-table
			v-slot:default="slotProps"
			:data="teamClasses"
			:columns="columnsClasses"
		>
			<base-icon
				icon="delete"
				class="cursor-pointer"
				@click.native="removeClass(slotProps.row._id)"
			/>
		</base-table>
	</section>

	<base-modal :active.sync="addInternalModalActive">
		<div class="modal-header">
			<h3>Internen Teilnehmer hinzufügen</h3>
		</div>

		<div class="modal-body">
			<div class="d-flex">
				<base-button
					:class="{ 'is-primary': internalTab === 'addMember' }"
					@click="internalTab = 'addMember'"
				>
					Person hinzufügen
				</base-button>
				<base-button
					:class="{ 'is-primary': internalTab === 'addClass' }"
					@click="internalTab = 'addClass'"
				>
					Klasse hinzufügen
				</base-button>
			</div>

			<div>
				<div v-if="internalTab === 'addMember'">
					<p>
						<span>Füge Lehrer und Schüler deiner Schule zum Team hinzu</span>
						<base-select
							:value.sync="membersSelected"
							:options="members"
							:allow-empty="false"
							:multiple="true"
							label="fullName"
						></base-select>
					</p>
				</div>
				<div v-if="internalTab === 'addClass'">
					<p>
						<span
							>Füge eine oder mehrere Klassen deiner Schule zum Team hinzu</span
						>
						<base-select
							:value.sync="classesSelected"
							:options="classes"
							:allow-empty="false"
							:multiple="true"
							label="displayName"
						></base-select>
					</p>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<base-button id="button" class="is-light" @click="addTeamMembers">
				Hinzufügen
			</base-button>
		</div>
	</base-modal>

	<base-modal ref="editMemberModal" :active.sync="editMemberModalActive">
		<div class="modal-header">
			<h3>Teilnehmer bearbeiten</h3>
		</div>

		<div class="modal-body">
			<p>Ändere die Rolle des Nutzers:</p>
			<base-select
				:value.sync="memberSelected.role"
				:options="teamRoles"
				trackBy="_id"
				:allow-empty="false"
				label="label"
			></base-select>
		</div>

		<div class="modal-footer">
			<base-button id="button" class="is-light" @click="saveMember">
				Speichern
			</base-button>
		</div>
	</base-modal>
</div>
