$breakpoints: (
	tablet: 750px,
	desktop: 991px,
	desktop-lg: 1200px,
);

// Usage: `@include breakpoint(tablet) { ... }`
@use "sass:map";
@mixin breakpoint($breakpoint) {
	@if map.has-key($breakpoints, $breakpoint) {
		// Get the breakpoint value.
		$breakpoint-value: map.get($breakpoints, $breakpoint);

		// Write the media query.
		@media (min-width: $breakpoint-value) {
			@content;
		}

		// If the breakpoint doesn't exist in the map.
	} @else {
		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}
