// apply to toasts
.toasted.info {
	background-color: var(--v-info-base) !important;
}

.toasted.success {
	background-color: var(--v-success-base) !important;
}

.toasted.error {
	background-color: var(--v-error-base) !important;
}
