/* stylelint-disable */

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Thin.eot');
    src: url('@/assets/fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Thin.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Thin.woff') format('woff'),
        url('@/assets/fonts/Roboto-Thin.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Regular.eot');
    src: url('@/assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Regular.woff') format('woff'),
        url('@/assets/fonts/Roboto-Regular.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Bold.eot');
    src: url('@/assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Bold.woff') format('woff'),
        url('@/assets/fonts/Roboto-Bold.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Italic.eot');
    src: url('@/assets/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Italic.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Italic.woff') format('woff'),
        url('@/assets/fonts/Roboto-Italic.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Light.eot');
    src: url('@/assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Light.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Light.woff') format('woff'),
        url('@/assets/fonts/Roboto-Light.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/fonts/Roboto-Medium.eot');
    src: url('@/assets/fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/Roboto-Medium.woff2') format('woff2'),
        url('@/assets/fonts/Roboto-Medium.woff') format('woff'),
        url('@/assets/fonts/Roboto-Medium.ttf') format('truetype'),
        url('@/assets/fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('@/assets/fonts/RobotoCondensed-Light.eot');
    src: url('@/assets/fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('@/assets/fonts/RobotoCondensed-Light.woff') format('woff'),
        url('@/assets/fonts/RobotoCondensed-Light.ttf') format('truetype'),
        url('@/assets/fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('@/assets/fonts/RobotoCondensed-Regular.eot');
    src: url('@/assets/fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('@/assets/fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('@/assets/fonts/RobotoCondensed-Regular.ttf') format('truetype'),
        url('@/assets/fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('@/assets/fonts/RobotoCondensed-Bold.eot');
    src: url('@/assets/fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('@/assets/fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('@/assets/fonts/RobotoCondensed-Bold.ttf') format('truetype'),
        url('@/assets/fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('@/assets/fonts/RobotoCondensed-Medium.eot');
    src: url('@/assets/fonts/RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/RobotoCondensed-Medium.woff2') format('woff2'),
        url('@/assets/fonts/RobotoCondensed-Medium.woff') format('woff'),
        url('@/assets/fonts/RobotoCondensed-Medium.ttf') format('truetype'),
        url('@/assets/fonts/RobotoCondensed-Medium.svg#RobotoCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* stylelint-enable */
