/* stylelint-disable */

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src:
		url("@/assets/fonts/PT_Sans-Web-Regular.woff2") format("woff2"),
		url("@/assets/fonts/PT_Sans-Web-Regular.woff") format("woff");
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src:
		url("@/assets/fonts/PT_Sans-Web-Bold.woff2") format("woff2"),
		url("@/assets/fonts/PT_Sans-Web-Bold.woff") format("woff");
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 400;
	src:
		url("@/assets/fonts/PT_Sans-Narrow-Web-Regular.woff2") format("woff2"),
		url("@/assets/fonts/PT_Sans-Narrow-Web-Regular.woff") format("woff");
}

@font-face {
	font-family: "PT Sans Narrow";
	font-style: normal;
	font-weight: 700;
	src:
		url("@/assets/fonts/PT_Sans-Narrow-Web-Bold.woff2") format("woff2"),
		url("@/assets/fonts/PT_Sans-Narrow-Web-Bold.woff") format("woff");
}

/* stylelint-enable */
