.room-color--blue-grey {
	background-color: #455b6a;
}

.room-color--pink {
	background-color: #ec407a;
}

.room-color--red {
	background-color: #d50000;
}

.room-color--orange {
	background-color: #ef6c00;
}

.room-color--olive {
	background-color: #827717;
}

.room-color--green {
	background-color: #689f38;
}

.room-color--turquoise {
	background-color: #009688;
}

.room-color--light-blue {
	background-color: #0091ea;
}

.room-color--blue {
	background-color: #304ffe;
}

.room-color--magenta {
	background-color: #d500f9;
}

.room-color--purple {
	background-color: #9c27b0;
}

.room-color--brown {
	background-color: #795548;
}
