@use "sass:map";
@use "@/styles/settings.scss" as *;

* {
	tab-size: 2;
}

h1 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-regular);
	font-size: var(--heading-1);
	line-height: 40px;
	letter-spacing: 0px;
	margin: 16px 0;
}

h2 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-regular);
	font-size: var(--heading-2);
	line-height: 33px;
	letter-spacing: 0px;
	margin: 32px 0 12px 0;
}

h3 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-bold);
	font-size: var(--heading-3);
	line-height: 31px;
	letter-spacing: 0px;
	margin: 32px 0 12px 0;
}

h4 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-bold);
	font-size: var(--heading-4);
	line-height: 30px;
	letter-spacing: 0px;
	margin: 32px 0 12px 0;
}

h5 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-bold);
	font-size: var(--heading-5);
	line-height: 30px;
	letter-spacing: 0px;
	margin: 32px 0 12px 0;
}

h6 {
	font-family: var(--font-accent);
	font-weight: var(--font-weight-bold);
	font-size: var(--heading-6);
	line-height: 30px;
	letter-spacing: 0px;
	margin: 32px 0 12px 0;
}

p {
	margin-bottom: 16px;
}

/* text size */
.text-xs {
	font-size: var(--text-xs);
}

.text-sm {
	font-size: var(--text-sm);
}

.text-md {
	font-size: var(--text-md);
}

.text-lg {
	font-size: var(--text-lg);
}
