$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-accent: #126dc4;
	--color-primary: #df0b40;
	--color-accent-light: color-mod(var(--color-accent) tint(#{$brighten}));
	--color-accent-dark: color-mod(var(--color-accent) shade(#{$darken}));
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
}
