$brighten: 15%;
$darken: 25%;

:root {
	/* main colors */
	--color-primary: #126dc4;
	--color-primary-light: color-mod(var(--color-primary) tint(#{$brighten}));
	--color-primary-dark: color-mod(var(--color-primary) shade(#{$darken}));
	--color-secondary: #455b6a;
	--color-secondary-light: #617480;
	--color-secondary-dark: #344450;
	--color-accent: #e98404;
	--color-accent-light: color-mod(var(--color-accent) tint(#{$brighten}));
	--color-accent-dark: color-mod(var(--color-accent) shade(#{$darken}));
}
