/*
* This file should be as small as possible!
* What belongs into this file?
*   - Style resets for h*, p, ul, li, ...
*   - maybe really generic helpers like .text-center, mt-1 (margin-top), ...
*     But this need to be discussed and should be avoided whenever possible,
*     Vue Components should be standalone with a minimal amount of dependencies.
*/
/* stylelint-disable */

@import "@variables";

@function font-size($level) {
	@return nth($size-heading, $level);
}

@for $i from 1 through 6 {
	h#{$i},
	.h#{$i} {
		margin: 0.75em 0 0.25em;
		font-size: font-size($i);

		@extend %font-heading;
	}
}

// TODO I think this doesn't do anything
.page-enter-active,
.page-leave-active {
	transition: all 0.15s ease-in-out;
}

html,
body {
	@extend %font-content;

	width: 100%;
	min-height: 100vh;
	margin: 0;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

img {
	max-width: 100%;
}
