@import "./utility/breakpoints";
@import "./utility/colors";
@import "./utility/fonts";
@import "./utility/resets";
@import "./utility/spacing";
@import "./utility/typography";
@import "./utility/body";

@import "./css-variables/breakpoints";
@import "./css-variables/durations";
@import "./css-variables/layers";
@import "./css-variables/sizes";
@import "./css-variables/spacing";
@import "./css-variables/typography";

// we need the path alias here to enable theme override
@import "@/styles/legacy.scss"
