@forward "./utility/breakpoints";

@mixin visually-hidden {
	/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
