@supports (scrollbar-color: auto) {
	* {
		scrollbar-width: thin;
	}
}

@supports selector(::-webkit-scrollbar) {
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	*::-webkit-scrollbar-track {
		background: white;
		border: none;
	}

	*::-webkit-scrollbar-thumb {
		background-color: rgba(var(--v-theme-on-surface), 0.6);
		border-radius: 4px;
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: rgba(var(--v-theme-on-surface), 0.8);
	}
}

*:focus:not(:focus-visible) {
    outline: none
}

*:focus-visible {
    outline-color: rgba(var(--v-theme-on-surface));
    outline-offset: 1px;
    outline-style: auto;
}