$body-font-family: var(--font-primary);
$heading-font-family: var(--font-accent);
$line-height-root: var(--line-height-md);

// headings
$headings: (
	"h1": (
		"size": var(--heading-1),
	),
	"h2": (
		"size": var(--heading-2),
	),
	"h3": (
		"size": var(--heading-3),
	),
	"h4": (
		"size": var(--heading-4),
	),
	"h5": (
		"size": var(--heading-5),
		"weight": var(--font-weight-bold),
	),
	"h6": (
		"size": var(--heading-6),
		"weight": var(--font-weight-bold),
	),
);

// v-btn
$button-font-size: 1rem;
$btn-text-transform: none;
$btn-font-weight: var(--font-weight-bold);
$btn-letter-spacing: 0.044em;
$btn-focus-opacity: 0;

.v-btn {
	font-family: var(--font-accent);

	&.v-size--small,
	&.v-size--default,
	&.v-size--large,
	&.v-size--x-large {
		font-size: $button-font-size;
	}
}

.v-btn.primary {
	&:hover {
		background-color: rgba(var(--v-theme-primary-darken-1)) !important;
	}
}

// tabs
$tabs-item-letter-spacing: inherit;

// table
$data-table-regular-header-font-size: 1rem;
$data-table-regular-row-font-size: 1rem;

// card
$card-text-letter-spacing: normal;

// treeview
$treeview-node-margin: 0;
$treeview-node-padding: 0;

// tooltip
$tooltip-background-color: rgb(66, 66, 66);
$tooltip-text-color: white;
$tooltip-padding: 8px 8px 8px 12px;
$tooltip-transition-enter-duration: 300;
$tooltip-transition-leave-duration: 300;
$tooltip-opacity: 1;
