// GRID
$size-grid-padding: 1.3rem;

// LAYOUT
$size-content-width-max: 60rem;
$size-content-width-min: 25rem;

// SPACING
$size-padding-x: 0.5em;
$size-padding-y: 0.25em;
$size-padding: $size-padding-x $size-padding-y;

$size-margin: 0.5em;

$size-border-width: 1px;
$size-border-radius: 1em;
