@for $i from 0 through 6 {
	.mt-#{$i} {
		margin-top: $i * 8px;
	}
	.mb-#{$i} {
		margin-bottom: $i * 8px;
	}
	.ml-#{$i} {
		margin-left: $i * 8px;
	}
	.mr-#{$i} {
		margin-right: $i * 8px;
	}
}

.d-flex {
	display: flex;
}

.cursor-pointer {
	cursor: pointer;
}

.is-noscroll {
	position: fixed;
	top: 0;
	width: 100%;
	overflow-y: hidden;
}
