@import "./utility/colors";
@import "./utility/fonts";
@import "./utility/resets";
@import "./utility/spacing";
@import "./utility/typography";

body.is-noscroll {
	position: fixed;
	top: 0;
	width: 100%;
	overflow-y: hidden;
}

.d-flex {
	display: flex;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

@mixin visually-hidden {
	/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.visually-hidden {
	@include visually-hidden;
}

::-moz-focus-inner {
	border: 0;
}

:focus {
	outline: 2px solid var(--color-tertiary-light);
	outline-offset: 3px;
}
