@import "../variables/colors";

// apply to toasts
.toasted.info {
	background-color: var(--color-info) !important;
}
.toasted.success {
	background-color: var(--color-success) !important;
}
.toasted.error {
	background-color: var(--color-danger) !important;
}
