/* vertical margins */

.mt--sm {
	margin-top: var(--space-sm);
}

.mt--md {
	margin-top: var(--space-md);
}

.mt--lg {
	margin-top: var(--space-lg);
}

.mt--xl {
	margin-top: var(--space-xl);
}

.mt--xl-2 {
	margin-top: var(--space-xl-2);
}

.mt--xl-3 {
	margin-top: var(--space-xl-3);
}

.mt--xl-4 {
	margin-top: var(--space-xl-4);
}

.mt--xl-5 {
	margin-top: var(--space-xl-5);
}

.mb--sm {
	margin-bottom: var(--space-sm);
}

.mb--md {
	margin-bottom: var(--space-md);
}

.mb--lg {
	margin-bottom: var(--space-lg);
}

.mb--xl {
	margin-bottom: var(--space-xl);
}

.mb--xl-2 {
	margin-bottom: var(--space-xl-2);
}

.mb--xl-3 {
	margin-bottom: var(--space-xl-3);
}

.mb--xl-4 {
	margin-bottom: var(--space-xl-4);
}

.mb--xl-5 {
	margin-bottom: var(--space-xl-5);
}
