/* vertical margins */

.mt--sm {
	margin-top: var(--space-sm);
}

.mt--md {
	margin-top: var(--space-md);
}

.mt--lg {
	margin-top: var(--space-lg);
}

.mt--xl {
	margin-top: var(--space-xl);
}

.mt--xxl {
	margin-top: var(--space-xxl);
}

.mb--sm {
	margin-bottom: var(--space-sm);
}

.mb--md {
	margin-bottom: var(--space-md);
}

.mb--lg {
	margin-bottom: var(--space-lg);
}

.mb--xl {
	margin-bottom: var(--space-xl);
}

.mb--xxl {
	margin-bottom: var(--space-xxl);
}
