* {
	tab-size: 2;
}

html,
body {
	font-family: var(--font-primary);
	font-size: var(--text-base-size);
	line-height: var(--body-line-height);
	color: var(--color-black);
}

h1,
h2,
h3,
h4,
form legend {
	margin-bottom: var(--space-xxs);
	line-height: var(--heading-line-height);
	color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-accent);
	font-weight: bold;
}

/* text size */
.text--xxxl {
	font-size: var(--text-xxxl);
}

h1,
.text--xxl {
	font-size: var(--text-xxl);
}

h2,
.text--xl {
	font-size: var(--text-xl);
}

h3,
.text--lg {
	font-size: var(--text-lg);
}

h4,
.text--md {
	font-size: var(--text-md);
}

.text--sm,
small {
	font-size: var(--text-sm);
}

.text--xs {
	font-size: var(--text-xs);
}

p {
	line-height: var(--body-line-height);
}

a {
	color: var(--color-primary);

	&:visited {
		color: var(--color-primary-visited);
	}
}

b,
strong {
	font-weight: bold;
}

/* utility classes */

.truncate {
	// truncate text if it exceeds parent
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
