:root {
	--size-content-width-min: 30ch;
	--size-content-width-max: 80ch;
	--breakpoint-tablet: 750px;
	--breakpoint-tablet-landscape: 1112px;
	--breakpoint-desktop: 991px;
	--breakpoint-desktop-lg: 1200px;
}