@import "@styles";

.button {
	// typo
	--button-font-weight: var(--font-weight-bold);
	--button-line-height: var(--line-height-md);

	// color modes
	--button-background: var(--color-tertiary);
	--button-text-color: var(--color-white);

	&.is-outline {
		--button-background: var(--color-tertiary);
	}
	&.is-text {
		--button-background: var(--color-gray-dark);
	}
	&.is-primary,
	&.is-hero-cta {
		--button-background: var(--color-primary);
		--button-text-color: var(--color-white);
		&:hover {
			--button-background: var(--color-primary-dark);
		}
	}
	&.is-secondary {
		--button-background: var(--color-secondary);
		--button-text-color: var(--color-white);
		&:hover {
			--button-background: var(--color-secondary-dark);
		}
	}
	&.is-success {
		--button-background: var(--color-success);
		--button-text-color: var(--color-white);
		&:hover {
			--button-background: var(--color-success--dark);
		}
	}
	&.is-danger {
		--button-background: var(--color-danger);
		--button-text-color: var(--color-white);
		&:hover {
			--button-background: var(--color-danger--dark);
		}
	}
	&.is-fancy {
		--button-background: linear-gradient(
			45deg,
			var(--color-primary),
			var(--color-secondary)
		);
		--button-text-color: var(--color-white);

		border: 0;

		&:hover {
			--button-background: linear-gradient(
				45deg,
				var(--color-primary-dark),
				var(--color-secondary-dark)
			);
		}
	}
	&.is-icon {
		--button-padding: var(--space-xs);

		width: 40px;
		min-width: initial;
		height: 40px;
		padding: var(--button-padding);
		border-radius: var(--radius-round);
		&.is-small {
			--button-padding: var(--space-xs-3);
		}
		&.is-large {
			--button-padding: var(--space-sm);
		}
		&.is-hero-cta,
		&.is-fancy {
			width: 56px;
			height: 56px;
		}
	}

	&:disabled {
		--button-background: var(--color-disabled);
		--button-text-color: var(--color-disabled-dark);
		&.is-outline,
		&.is-text {
			--button-background: var(--color-disabled-dark);
		}
	}

	/* SIZES */
	--button-padding: var(--space-xs) var(--space-sm) var(--space-xs-2)
		var(--space-sm);
	&.is-small {
		--button-padding: var(--space-xs-3) var(--space-sm) var(--space-xs-4)
			var(--space-sm);
	}

	&.is-large {
		--button-padding: var(--space-sm) var(--space-sm) var(--space-sm)
			var(--space-sm);
	}

	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	min-width: var(--space-xl-5);
	padding: var(--button-padding);
	font-family: var(--font-accent);
	font-size: var(--text-md);
	font-weight: var(--button-font-weight);
	line-height: var(--button-line-height);
	color: var(--button-text-color);
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background: var(--button-background);
	border: 1px solid transparent;
	border-radius: var(--radius-sm);
	transition: all var(--duration-transition-medium)
		cubic-bezier(0.23, 1, 0.32, 1);

	&:hover {
		--button-background: var(--color-tertiary-dark);
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px var(--color-white), 0 0 0 6px var(--button-background);
	}

	// defined multiple times to seperate style from behaviour
	/* stylelint-disable-next-line */
	&.is-outline {
		color: var(--button-background);
		background: var(--color-white);
		border: 1px solid var(--button-background);

		&:hover {
			box-shadow: 0 0 0 1px var(--button-background);
		}
	}
	// defined multiple times to seperate style from behaviour
	/* stylelint-disable-next-line */
	&.is-text {
		color: var(--button-background);
		background: transparent;
		border: 1px solid transparent;

		&:hover {
			background-color: var(--color-gray-light);
			box-shadow: none;
		}
	}
	&.is-none {
		min-width: initial;
		padding: 0;
		font: inherit;
		font-weight: initial;
		background: transparent;
		border: 0;
	}
	// defined multiple times to seperate style from behaviour
	/* stylelint-disable-next-line */
	&:disabled {
		pointer-events: none;
		cursor: default;
	}
}
.is-hero-cta,
.is-fancy {
	box-shadow: var(--shadow-xl);
	&:focus {
		box-shadow: 0 0 0 3px var(--color-white), 0 0 0 6px var(--color-primary);
	}
}
