<!-- eslint-disable max-lines -->
<div class="root">
	<div class="header">
		<div class="header-icon">
			<base-icon source="custom" icon="shuttle" />
		</div>
		<div class="headlines">
			<h3>Kurs anlegen</h3>
			<h6>
				In einem Kurs wird gemeinsam mit den Teilnehmern an Themen, Hausaufgaben
				und Dateien gearbeitet.
			</h6>
		</div>
	</div>
	<div class="steps">
		<step-progress :steps="steps" :current-step="currentStep" />

		<div class="content-wrapper">
			<div v-show="currentStep === 0">
				<base-input
					v-model="course.name"
					name="name"
					label="Kursname"
					type="text"
					placeholder="z.B. 10a"
					maxlength="30"
				/>

				<base-input
					v-model="course.description"
					name="description"
					label="Kursbeschreibung"
					type="textarea"
					placeholder=""
					maxlength="255"
				/>

				<base-select
					:value.sync="teachersSelected"
					:options="teachers"
					:multiple="true"
					placeholder="Unterrichtender Lehrer"
					label="lastName"
					track-by="_id"
				/>

				<base-select
					:value.sync="substitutionsSelected"
					:options="teachers"
					:multiple="true"
					label="lastName"
					placeholder="Vertretungs-Lehrer"
					track-by="_id"
				/>

				<div class="date-wrapper">
					<base-input
						v-model="course.startDate"
						name="startDate"
						label="Startdatum"
						type="date"
						class="date"
						placeholder=""
						maxlength="30"
					/>
					<base-input
						v-model="course.untilDate"
						name="untilDate"
						label="Enddatum"
						type="date"
						class="date"
						placeholder=""
						maxlength="30"
					/>
				</div>

				<template-course-times v-model="course.times" />
			</div>

			<div v-show="currentStep === 1">
				<p>
					Fast geschafft! Jetzt noch die Kursmitglieder hinzufügen und dann kann
					es losgehen. Du kannst diesen Schritt auch überspringen und später
					Kursmitglieder hinzufügen.
				</p>

				<base-select
					:value.sync="classesSelected"
					:options="classes"
					:multiple="true"
					label="displayName"
					track-by="_id"
					placeholder="Klasse auswählen"
				></base-select>

				<base-select
					:value.sync="studentsSelected"
					:options="students"
					:multiple="true"
					:show-on-select="false"
					label="displayName"
					track-by="_id"
					placeholder="Studenten auswählen"
				></base-select>
			</div>

			<div v-show="currentStep === 2" class="final-step">
				<div class="image">
					<img alt="people" src="@assets/people.png" />
				</div>
				<div>
					<h3>Geschafft!</h3>
					<h4>Was kann ich in einem Kurs machen?</h4>
					<h6>Themen anlegen</h6>
					Themen sind in der Schul-Cloud der Container für dein
					Unterrichtsmaterial.
					<h6>Aufgaben stellen</h6>
					Innerhalb eines Kurses/Themas kannst du Aufgaben an deine Teilnehmer
					stellen.
					<h6>Tools hinzufügen</h6>
					In einem Kurs kannst du außerdem Tools zum interaktiven Unterricht
					hinzufügen.
				</div>
			</div>
		</div>
		<div class="step-wrapper">
			<base-button
				v-if="!firststep"
				type="button"
				class="btn btn-primary"
				@click="lastStep"
				>Zurück</base-button
			>
			<base-button
				v-if="currentStep === 1"
				type="button"
				class="btn btn-primary"
				@click="nextStep"
				>Überspringen</base-button
			>
			<base-button
				v-if="!laststep"
				type="button"
				class="btn btn-primary"
				@click="nextStep"
				>Weiter</base-button
			>
			<base-button
				v-if="laststep"
				type="submit"
				class="btn btn-primary"
				@click="$emit('course-creation-submit')"
			>
				Kurs anlegen und weiter
			</base-button>
		</div>
	</div>
</div>
