@mixin excerpt(
	$font-size: $paragraph-font-size,
	$line-height: 1.4,
	$lines-to-show: 3,
	$excerpt-bg: transparent
) {
	display: block; /* Fallback for non-webkit */
	display: -webkit-box;
	max-height: calc(
		#{$font-size} * #{$line-height} * #{$lines-to-show}
	); /* Fallback for non-webkit */

	overflow: hidden;
	font-size: $font-size;
	line-height: $line-height;
	text-overflow: ellipsis;
	background: $excerpt-bg;
	-webkit-line-clamp: $lines-to-show;
	-webkit-box-orient: vertical;

	@-moz-document url-prefix() {
		position: relative;
		overflow: hidden;

		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			float: right;
			width: 12px;
			margin-left: calc(-1 * 12px);
			content: "";
			background: $excerpt-bg;
		}

		&::after {
			position: absolute;
			z-index: var(--layer-page);
			width: 100%;
			height: 50px;
			content: "";
			background: $excerpt-bg;
		}
	}
}
