@use "roboto-font-face.css";

@use "vuetify/styles" as vuetify with (
	$border-radius-root: 16px,
	$typography: (
		"h2": (
			"size": 2.75rem,
		)
	),
	$utilities: (
		"overflow": (
			property: overflow,
			values: auto hidden visible inherit,
		)
	)
);
