@use "roboto-font-face";
@use "variables" as bc;

@use "vuetify/styles" as vuetify with (
	$border-radius-root: bc.$border-radius,
	$typography: (
		"h2": (
			"size": bc.$h2-size,
		),
	),
	$utilities: (
		"overflow": (
			property: overflow,
			values: auto hidden visible inherit,
		),
	)
);
