// extends the default theme
:root {
	/* main colors */
	--color-primary: #064963;
	--color-primary-light: #417491;
	--color-primary-dark: #002239;
	--color-secondary: #D9174C;
	--color-secondary-light: #F15574;
	--color-secondary-dark: #A31139;
	--color-accent: #74C599;
	--color-gray-dark: #17212A;
	--color-gray-light: rgba(23, 33, 42, 0.1);
}
