$brighten: 90%;

// extends the default theme
:root {
	/* main colors */
	--color-primary: #064963;
	--color-primary-light: #417491;
	--color-primary-dark: #002239;
	--color-secondary: #d9174c;
	--color-secondary-light: #f15574;
	--color-secondary-dark: #a31139;
	--color-accent: #74c599;
	--color-gray-dark: #17212a;
	--color-gray-light: color-mod(var(--color-gray-dark) tint(#{$brighten}));
	--color-sidebar-menu-item-active: var(--color-primary-dark);
}
