.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.75rem;
}
.mt-3 {
  margin-top: 1.25rem;
}
.mt-4 {
  margin-top: 1.75rem;
}
.mt-5 {
  margin-top: 3rem;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
