@import "helpers";
/* stylelint-disable */
// Set your colors
$primary: red;

h1 {
	margin-bottom: 1.4rem;
	font-size: 2.5rem;
}
h2 {
	margin-bottom: 1.2rem;
	font-size: 2.2rem;
}
h3 {
	margin-bottom: 1rem;
	font-size: 1.8rem;
}
h4 {
	margin-bottom: 1rem;
	font-size: 1.4rem;
}
h5 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
}
p {
	margin-bottom: 1rem;
}

/* Transitions using the page hook */
.page-enter-active,
.page-leave-active {
	transition: all 0.15s ease-in-out;
}
.page-enter,
.page-leave-active {
	opacity: 0;
	transform-origin: 00% 50%;
}

.navbar {
	background: #b10438 !important;
}
.logo-round {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 140px;
	height: 140px;
	padding: 20px;
	margin: 0 auto 2rem;
	background: #b10438;
	border-radius: 100%;
}

.menu-list {
	.nuxt-link-active {
		color: #fff;
		background-color: #3273dc;
	}
}
