apiVersion: v1
kind: Service
metadata:
  name: nuxtclient-ldap-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: nuxtclient-ldap
spec:
  type: ClusterIP
  ports:
    - port: {{ NUXTCLIENT_PORT }}
      targetPort: 4000
      protocol: TCP
      name: nuxtclient-ldap
  selector:
    app: nuxtclient-ldap
