name: Test

on: [push]

jobs:
  test-unit:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: npm run test:unit:ci
        run: npm run test:unit:ci
      - name: codecov
        run: npx codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.SC_BOT_GITHUB_TOKEN }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: npm run lint
        run: npm run lint:ci
      - name: npm run lint:fix
        if: failure()
        run: npm run lint
      - uses: stefanzweifel/git-auto-commit-action@v4.1.1
        # only run on one of the matrix builds
        if: failure() && matrix.os == 'ubuntu-latest'
        with:
          commit_message: npm run lint
  test-screenshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: build storybook
        run: "npm run build:storybook"
      - name: npm run test:screenshot
        run: npm run test:screenshot
      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: screenshot-diff
          path: tests/screenshot/__image_snapshots__/__diff_output__
  # build:
  #   strategy:
  #     matrix:
  #       os: [ubuntu-latest, macos-latest, windows-latest]
  #       theme: [default, brb, n21, open]
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: npm ci
  #       run: npm ci --prefer-offline
  #     - name: npm run build:nuxt
  #       run: npm run build:nuxt
  #       env:
  #         SC_THEME: ${{ matrix.theme }}
