name: Test code

on: [push]

env:
  node: 16
jobs:
  unit:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.node }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: npm run test:unit:ci
        run: npm run test:unit:ci
        env:
          NODE_OPTIONS: "--unhandled-rejections=warn"
      - name: codecov
        run: npx codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.SC_BOT_GITHUB_TOKEN }}
      - name: npm ci
        run: npm ci --prefer-offline --no-audit
      - name: npm run lint
        run: npm run lint:ci
      - name: npm run lint:fix
        if: failure() && matrix.os == 'ubuntu-latest'
        run: npm run lint
      - uses: stefanzweifel/git-auto-commit-action@v4.13.1
        # only run on one of the matrix builds
        if: failure() && matrix.os == 'ubuntu-latest'
        with:
          commit_message: npm run lint
  # build:
  #   strategy:
  #     matrix:
  #       theme: [default, brb, n21, open, thr, int]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: npm ci
  #       run: npm ci --prefer-offline
  #     - name: npm run build:nuxt
  #       run: npm run build:nuxt
  #       env:
  #         SC_THEME: ${{ matrix.theme }}
