<div class="root">
    <div v-if="type === 'checkbox'" class="checkbox">
        <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
        </label>
    </div>
    <div v-else-if="type === 'hidden'" class="hidden">
        <input aria-label="hidden" type="hidden" />
    </div>
    <div v-else-if="type === 'radio'" class="radio">
        <input
            :id="id"
            type="radio"
            :aria-label="name"
            class="radio-btn"
            :name="name"
            :value="value"
        />
        <label :for="id" class="label"><slot /></label>
    </div>
    <div v-else>
        <div v-if="type === 'date'" class="input__wrapper">
            <span :class="{ label: true, active: value && value !== 0 }">
                {{ label }}
            </span>
            <flat-pickr
                v-model="val"
                v-bind="$attrs"
                :config="configDate"
                :wrap="true"
                v-on="$listeners"
                @input="$emit('update', val)"
            >
                <input type="date" :name="name" class="input" />
            </flat-pickr>
        </div>

        <div v-else-if="type === 'time'" class="input__wrapper">
            <span :class="{ label: true, active: value && value !== 0 }">
                {{ label }}
            </span>
            <flat-pickr
                v-model="val"
                v-bind="$attrs"
                :config="configTime"
                :wrap="true"
                v-on="$listeners"
                @input="$emit('update', val)"
            >
                <input aria-label="name" type="time" :name="name" class="input" />
            </flat-pickr>
        </div>

        <label v-else class="input__wrapper">
            <span :class="{ label: true, active: value && value !== 0 }">
                {{ label }}
            </span>
            <input
                v-bind="$attrs"
                :value="value"
                :type="type"
                :name="name"
                class="input"
                v-on="$listeners"
                @input="$emit('update', $event.target.value)"
            />
        </label>
        <small v-if="hint || $slots.hint" class="hint">
            <template v-if="hint">{{ hint }}</template>
            <slot v-else name="hint" />
        </small>
    </div>
</div>